img {
    margin-top: 20px;
}
.jumbotron .container {
    margin-top: 20px;
}
body { padding-top: 20px; }

@media screen and (max-width: 420px) {
    ul {
        padding: 10px;
    }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    background-color: #eee;
    border: 1px solid #eee;
}
.nav-tabs{
    padding-left: 15px;
    border-bottom: 0px;
}
